.board {
  height: 800px;
  width: 800px;
  border: black solid 1px;
}

.rowContainer {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
  width: 800px;
  height: 100px;
}

.wSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.bSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}